# config/packages/framework.yaml
framework:
    secret: '%env(APP_SECRET)%'

    session: true

    default_locale: fr

    translator:
        fallbacks:
            - fr


when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
